[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = ". /opt/venv/bin/activate && PYTHONPATH=/app/src uvicorn bazaar.api:app --host 0.0.0.0 --port $PORT"
